html {
	scroll-behavior: smooth;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
	background: black;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: white;
}

/*------------ Hover i menyn & footer -------------*/

.hoverLine::after {
	content: "";
	display: block;
	width: 0%;
	height: 2px;
	background-color: #61a2a9;
	transition: 300ms;
}

.hoverLine:hover::after {
	width: 100%;
}

@font-face {
	font-family: "Chopsic";
	src: url("../Chopsic-K6Dp.ttf");
}

@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200&display=swap");
